## Contribution 
Zhou ze rui ()

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
pop = pd.read_csv("inverse.csv")

In [3]:
pop.dropna(inplace=True)
new_column_names = {'Indicator Name': 'year'}
pop.rename(columns=new_column_names, inplace=True)
pop_age_dis = pop[["year","Population ages 15-64 (% of total population)",
                                         "Population ages 0-14 (% of total population)",
                                         "Population ages 65 and above (% of total population)",
                                         "Population ages 0-14, total",
                                         "Population ages 15-64, total",
                                         "Population ages 65 and above, total"]]
names = {"Population ages 15-64 (% of total population)": "Age_15-64_per",
         "Population ages 0-14 (% of total population)": "Age_0-14_per",
         "Population ages 65 and above (% of total population)": "Age_65+_per",
         "Population ages 0-14, total": "Age_0-14",
         "Population ages 15-64, total": "Age_15-64",
         "Population ages 65 and above, total": "Age_65+"}
pop_age_dis = pop_age_dis.rename(columns = names)
pop_age_dis.set_index('year', inplace=True)
pop_age_dis

      Age_15-64_per  Age_0-14_per  Age_65+_per  Age_0-14  Age_15-64   Age_65+
year
1961      65.011315     29.076224     5.912462  27347642   61146392   5560966
1962      65.707862     28.267563     6.024575  26835246   62378444   5719310
1963      66.727038     27.121529     6.151433  26009547   63991229   5899224
1964      67.700249     26.011112     6.288638  25205548   65603572   6093879
1965      68.400987     25.179171     6.419842  24663501   67000135   6288364
...             ...           ...          ...       ...        ...       ...
2018      58.857734     12.240611    28.901654  15522442   74638081  36650477
2019      58.648137     12.072050    29.279814  15287198   74267895  37077906
2020      58.501114     11.915707    29.583178  15044891   73864092  37352017
2021      58.438944     11.773966    29.787090  14797709   73446995  37436889
2022      58.452711     11.622728    29.924561  14542937   73138948  37443104

[62 rows x 6 columns]